nav {
	width: 100%;
	position: fixed;
	top: 0px;
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 30px;
	align-items: center;
	z-index: 3;
	vertical-align: center;
	flex-direction: row;
	display: inline-flex;
	justify-content: space-between;

	background-color: white;
	text-decoration: none;
}
a {
	text-decoration: none;
	color: #000;
font-size: 16px;
font-family: Inter;
font-style: normal;
font-weight: 400;
}
a.active {
font-weight: 600;

}
nav ul {
	
	justify-self: end;
	

}
nav ul li {
	display: inline-flex;
	margin-right: 25px;
	text-decoration: none;

}

nav img {
	width: 50px;
	justify-items: left;
	display: inline-block;

}

nav button {
	background: #211E61;
	padding: 12px 40px;
	border: none;
	border-radius: 8px;
	color: white;
}
#Hambuger {
	display: none;
}
@media only screen and (max-width: 768px) {
	nav ul li {
		display: none;
	}

	ul li#Hambuger {
		display: block;
	}
}
nav {
	display: none;
}