@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');









section.Osk {
	display: flex;
	justify-content: center;
	flex-direction: column;
}








nav {
	width: 100%;
	position: fixed;
	top: 0px;
	height: 70px;

	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 30px;
	align-items: top;
	z-index: 66;
	vertical-align: top;
	flex-direction: row;
	display: inline-flex;
	justify-content: space-between;
	background-color: white;
	text-decoration: none;
	transition: 0.6s;
}

a {
	text-decoration: none;
	color: #000;
	font-size: 16px;
	font-family: Inter;
	font-style: normal;
	font-weight: 400;
}

a.active {
	font-weight: 600;

}

nav ul {

	justify-self: end;


}

nav ul li {
	display: inline-flex;
	margin-right: 25px;
	text-decoration: none;

}

nav ul li a#activePage {
	font-weight: 700;
	font-style: bold;
}

nav img {
	width: 50px;
	height: 50px;
	justify-items: left;
	display: inline-block;
	margin-left: 50px;
}

nav button {
	background: #211E61;
	padding: 12px 40px;
	border: none;
	border-radius: 8px;
	color: white;

}

div #photosk {
    
   
    text-align: center;
    height: 80%;
    
}

div .textsk {
    background-color: aliceblue;
    margin-top: -6%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 5%;

}

footer {
	margin-top: 5%;
	width: 100%;
	font-family: Inter;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding-bottom: 7%;
	padding: 20px;
}

footer img {
	width: 90px;
	
	padding-right: 30px;
}

footer div {
	max-width: 300px;
}

footer h3 {
	font-size: clamp(0.75rem, 0.6786rem + 0.3571vw, 1.25rem);
}

footer p {
	font-size: clamp(0.4375rem, 0.3214rem + 0.5804vw, 1.25rem);
	line-height: 160%;
}