@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

nav {
	width: 100%;
	position: fixed;
	top: 0px;
	height: 70px;

	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 30px;
	align-items: top;
	z-index: 3;
	vertical-align: top;
	flex-direction: row;
	display: inline-flex;
	justify-content: space-between;
	background-color: white;
	text-decoration: none;
	transition: 0.6s;
}

a {
	text-decoration: none;
	color: #000;
	font-size: 16px;
	font-family: Inter;
	font-style: normal;
	font-weight: 400;
}

a.active {
	font-weight: 600;

}

nav ul {

	justify-self: end;


}

nav ul li {
	display: inline-flex;
	margin-right: 25px;
	text-decoration: none;

}

nav ul li a#activePage {
	font-weight: 700;
	font-style: bold;
}

nav img {
	width: 50px;
	height: 50px;
	justify-items: left;
	display: inline-block;

}

nav button {
	background: #211E61;
	padding: 12px 40px;
	border: none;
	border-radius: 8px;
	color: white;

}

#Hambuger {
	display: none;
}

#Hambuger button {
	background: none;
	color: #000;
	width: 30px;
	padding: 12px 0px;
}

#Hambuger button #close {
	display: none;
}

#Hambuger button #bars {
	display: block;
}

#Hambuger button.active #close {
	display: block;
}

#Hambuger button.active #bars {
	display: none;

}

#MobileMeni {
	display: none;
	transition: 0.6s;
	transform: translateY(-300px);
}

#MobileMeni.active {
	display: flex;

	transform: translateY(0px);
}

@media only screen and (max-width: 768px) {
	nav ul li {
		display: none;
	}

	nav {
		padding-left: 30px;
	}

	ul li#Hambuger,
	#Login {
		display: inline;
		vertical-align: middle;

	}

	ul li#Hambuger {
		height: 40px;

	}

	nav.active {
		height: 130px;

	}

	#MobileMeni {
		position: absolute;

		height: 300px;
		width: 100%;
		top: 90px;
		z-index: 222;
	}

	nav #MobileMeni li {
		display: inline-flex;
		justify-content: center;
		margin-top: 0px;
	}

}



button {
	cursor: pointer;
}