@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

nav {
	width: 100%;
	position: fixed;
	top: 0px;
	height: 70px;
	padding-left: 0px;
	padding-top: 20px;
	padding-bottom: 30px;
	z-index: 6;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: white;
	align-items: center;
	img {
		width: 50px;
		height: 50px;
		justify-items: left;
		display: inline-block;
		margin-left: 50px;
	}
	ul {
		li {
			display: inline-flex;
			margin-right: 25px;
			text-decoration: none;
			align-items: center;
			cursor: pointer;
			a#activePage {
				font-weight: 700;
				font-style: bold;
			}
			button {
				background: #211E61;
				padding: 12px 40px;
				border: none;
				border-radius: 8px;
				color: white;
			}
			svg {
				margin-left: 10px;
				transition: 0.3s;
		
			}
			&#opened {
				svg {
					
					
					transform: rotate(180deg);
				}
			}
			&.hide {
				display: none;
			}
		}
		#Hambuger {
			display: none;
			button {
				background: none;
				color: #000;
				width: 30px;
				padding: 12px 0px;
				#close {
					display: none;
				}
				#bars {
					display: block;
				}
				&.active {
					#close {
						display: block;
					}
					#bars {
						display: none;
					}
				}
			}
		}
	}
}

a {
	text-decoration: none;
	color: #000;
	font-size: 16px;
	font-family: Inter;
	font-style: normal;
	font-weight: 400;
}

a.active {
	font-weight: 600;
}


#MobileMeni {
	display: flex;
	background-color: white;
	transition: 0.6s;
	display: flex;
	flex-direction: column;
	transform: translateY(-500px);
	&.active {
		transform: translateY(0px);
	}
}


.UserDrop {
	position: fixed;
	width: 150px;
	max-height: 140px;
	background-color: white;
	
	right: 20px;
	border-radius: 10px;
	z-index: 7;
	top: 50px;
	padding: 10px 0px 10px 0px;
	box-shadow: 2px 2px 12px 2px rgba(0,0,0,0.08);
	-webkit-box-shadow: 2px 2px 12px 2px rgba(0,0,0,0.08);
	-moz-box-shadow: 2px 2px 12px 2px rgba(0,0,0,0.08);
	ul {
		width: 100%;
		li {
			padding: 15px 20px 15px 20px;
			width: 100%;
			list-style: none;
			white-space: nowrap;
			cursor: pointer;
	
			&:hover {
				background-color: #ededed;
			}
		}
		
	}
	&#hide {
		display: none;
	}
}
@media only screen and (max-width: 768px) {
	nav {
		ul {
			li {
				display: none;
				&.UserInf {
					display: inline-flex;
				}
			}
		}
	}


	nav {
		img {
			margin-left: 30px;
		}
	}
	ul {
		li{
			&#Hambuger, &#Login {
				display: inline;
				vertical-align: middle;
				&.hide {
					display: none;
				}
			}
			
		}
	}

	#MobileMeni {
		position: fixed;
		
		height: 220px;
		width: 100%;
		top: 70px;
		z-index: 5;
		li {
			display: block;
			justify-content: center;
			margin-top: 0px;
			padding: 15px 25px;
			&.active {
				background-color: #ededed;
				a {
					color:  #211E61;
				}
			}
		}
	}


	
}

button {
	cursor: pointer;
}