@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

section.partneri {
	max-width: 100%;

	margin-top: 150px;
	display: block;
	text-align: center;
	padding-left: 50px;

}
.partneri h1 {
	font-size: clamp(1.125rem, 0.7321rem + 1.9643vw, 2.5rem);
	font-family: Poppins;
}
section.partneri .Slider {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	transition: 1s;
	height: 100%;
	 box-sizing: border-box;
}
section.partneri .Slider#sl1 {
	transform: translateX(calc(100% + 10%));

}
section.partneri .Slider#sl2 {
	transform: translateX(0%-10%);

}
.Slider#sl3 {
	transform: translateX(calc(-100% - 10%));

}
section.partneri .cont {
	min-width: 100%;
	max-width: 100%;
	margin-top: 50px;
	display: inline-flex;
	justify-content: left;
	 box-sizing: border-box;
	 margin-left: 10%;
	 font-family: Inter;
}
section.partneri .cont2, .cont3 {
	display: none;
}
section.partneri .cont div:nth-child(1) {
	background:white;
	background-size: cover;
	background-position: center;
	width: max(30%, 389px);
min-height: 177px;
height: 389px;

border-radius: 500px 0px 500px 500px;
box-shadow: 10px 20px 50px 0px rgba(0, 0, 0, 0.15);
z-index: 1;
}
#cnt1 {
		background-image: url("img/cortex.jpg");

}
#cnt2 {
		background-image: url("img/vet.png");

}
#cnt3 {
		background-image: url("img/rcf.jpg");

}
section.partneri .cont div:nth-child(1) img {
	width: 100%;
}

section.partneri .cont div:nth-child(2) {
	margin-left: 30px;
	width: 41%;
	text-align: left;
}
section.partneri .cont div:nth-child(2) p, .dots {
	margin-left: 40px;
}
section.partneri .dots button {
	width: 10px;
	height: 10px;
	display: inline-block;
	background: #E7F0FC;
	margin-left: 10px;
	border-radius: 100px;
	border: none;
}
section.partneri .dots button.active {

	background: #2639ED;
}
section.partneri .circle {
	width: 100px;
	height: 100px;
	border: 8.8px solid #211E61;
	position: absolute;
	border-radius: 50%;
	margin-top: 280px;
	
}
section.partneri .cont p {
	max-width: 400px;
}
section.partneri h2 {
	width: 400px;
	margin-left: 25px;
	font-size: clamp(0.8125rem, 0.6161rem + 0.9821vw, 1.5rem);

}

#dot2 {
	position: absolute;
	
	margin-top: -40px;
	margin-left: 230px;
	
}

@media only screen and (max-width: 768px) {
	section.partneri .cont div:nth-child(1) {
		width: 230px;
		height: 230px;
	}
	section.partneri h2 {
		
		margin-left: 1px;
	}

	section.partneri .cont div:nth-child(2) p, .dots{
		margin-left: 10px;
		font-size: clamp(10px, 10px, 20px);
	}
	
	#dot2 {
    
    margin-top: -25px;
    margin-left: max(82px);
    width: 173px;
	}

		section.partneri .circle {
		margin-top: 133px;
	}
	section.partneri {
		padding-left: 0px;
	}
}

@media only screen and (max-width: 500px) {
	section.partneri .cont div:nth-child(1) {
		width: 180px;
		height: 180px;
	}
	#dot2 {
		width: 120px;
	}
}